/* jumbotron section*/
.about-jumbotron {
    margin-bottom: 0px;
    margin-top: 0px; 
    padding: 0;
    background-image: url("https://media.istockphoto.com/vectors/rain-thunder-lightning-and-clouds-in-the-paper-cut-style-vector-storm-vector-id1336701523?b=1&k=20&m=1336701523&s=612x612&w=0&h=c-k_cF-YrC3NtawNtAbqAz-5XC03S2QzPZSghO2i1YU="); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
} 
.about-jumbotron-card{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}
.about-jumbotron-card h1{
    text-align: left;
    font-family: 'Ubuntu';
    /* padding-left: 75px; */
    font-weight: 400;
    padding-top: 200px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: bold;
    color: #AEEA00;
}
.jumbotron h3{
    text-align: left;
    padding-left: 75px;
    font-family: 'Ubuntu';
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
}